{% extends "base.html" %} {% block content %} {% if user.is_authenticated %}
<h1>
  W-W-W-WHAT?! how did you get here? You're already logged in! Get outta here!
</h1>
{% else %}
<div class="col-md-6 offset-md-3">
  <h1>Login</h1>
  <br />
  <div class="container">
    <br />
    {% if messages %} {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      {{ message }}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
  </div>
  <form method="POST" action="{% url 'login' %}">
    <!-- send the post request to login -->
    {% csrf_token %}
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Username</label>
      <input
        type="text"
        class="form-control"
        name="username"
        placeholder="Enter username"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        name="password"
        placeholder="Enter password"
      />
    </div>
    <br />
    <button type="submit" class="btn btn-success">Login</button>
  </form>
</div>
{% endif %} {% endblock %}
